@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: green;
    color: #fff;
    
}
.logo {
    position: absolute;
    left: 0;
    top: 5%;
    
}
.logo, img{
    border-radius: 50%;
}
.menu {
    padding: 0 5rem;
}
.hamburger {
    display: none;
    color: #fff;
    font-size: 25px;
}
.fa-caret-down{
    font-size: large;
    margin-left: 3px;

}
.fa-briefcase{
    margin-right: 4px;
}
.fa-heart{
    margin-right: 4px;
}
.fa-tools{
    margin-right: 4px;
}

.fa-download{
    font-size: large;
    margin-right: 2px;
    font-weight: 600;
    color: black;
}
.fa-arrow-up{
    position: absolute;
   border-radius: 50%;
   padding:15px;
    right: 5%;
    background-color: white;
    color: black;
    
}
.cross-icon {
    display: none;
}
.sub-heading{
    margin-top:20px;
}
.my-heading span{
    color:navy;
}
.headings{
    margin-top: 60px;
}
.menu .menu-list {
    display: flex;
    list-style: none;
}
.menu-list-items:hover .fa-caret-down{
    transform: rotate(180deg);
    color: white;
}
.menu-list .menu-list-items {
    padding: 0.5rem 1rem;
}
.sub-menu{
    display: none;
}

#contacts:hover .sub-menu{
display: block;
position: absolute;
top: 70%;
list-style-type: none;
background-color:cornflowerblue;
border-radius: 5px;

}
.sub-menu li{
    padding: 3px;

}
.sub-menu li:hover{
    text-align: left;
    text-decoration: underline;
    background-color:black;
    color: white;
    
}

@media screen and (min-width: 856px) and (max-width: 1024px) {
    .menu-list .menu-list-items {
        padding: 0.5rem 0.3rem;
    }
}

/*for Toogle buttton*/

.switch {
    position: fixed;
    right: 5%;
    top: 5%;
    width: 60px;
    height: 34px;
    color: white;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-mode {
    background-color:black;
    color: #fff;
}



.hero {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 60px ;
   background-color:#dcdcdc;
  
   
}
.side{
    display: flex;
    justify-content: space-between;  
    
}
.intro.headings{
    justify-content: flex-start;
    align-items: flex-start;
}
.images {
   
  margin-left: 10%;
  margin-right: 0;
  right: 0;

}
.hero .intro {
    text-align: left;
    margin: 0 5rem;
    
}
.hero .intro-buttons {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about {
    align-items: center;
  background-color:grey;
    width: 100%;
    margin: auto;
    padding: 5px;
   
}
.aboutContainer{
    display: block;
    justify-content: center;
    align-items: center;
     text-align:center;
     
}
.addbuttons{
    padding: 10px;
    border-radius: 50%;
    background-color:blue;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
 .about .about-text {
  width:80%;
 padding: 5rem 1rem 5rem 5rem;
 letter-spacing: 1px;
   }

   #showHide{
    display: none;
   }

   /*For Skill Show*/
   .skills {
       display: flex;
       justify-content: space-around;
       position: relative;
       padding: 2rem;
       flex-wrap: wrap;
   }

   .left {
       position: relative;
       top: 0;
       left: 0;
       width: 24rem;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .left img {
       position: relative;
       top: 0;
       left: 0;
       border-radius: 50%;
   }

   .right {
       width: 50%;
   }

   .right ul .bar {
       height: .4rem;
       position: relative;
       list-style: none;
       border-radius: 10px;
       margin: 3rem 0;

   }

   .right ul .html {
       width: 99%;
       background-color: #e54c21;
   }

   .right ul .css {
       width: 95%;
       background-color: #00a0e4;
   }


   .right ul .js {
       width: 95%;
       background-color: yellow;
   }

   .right ul .bootstrap {
       width: 90%;
       background-color: #7952b3;
   }

   .right ul .reactjs {
       width: 90%;
       background-color: #61dafb;
   }

   .language {
       position: absolute;
       bottom: .6rem;
       left: 0;
       background-color: #000;
       color: white;
   }

   .percentage {
       position: absolute;
       bottom: .6rem;
       right: 0;
    background-color: #000;
    color: white;
   }

   @media screen and (max-width: 834px) {
       .skills {
           padding: .5rem;
       }

       .right {
           width: 90%;
       }
   }


.project {
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    background-color:#dcdcdc;
}


.projectContainer {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.project .project-text {
    width: 70%;
    padding: 5rem 1rem 5rem 5rem;
    font-size: large;
}

.project .listof-projects{
list-style-type: none;
padding: 20px;
font-size: 20px;
font-weight: 700;
background-color: azure;
}

.project .listof-projects li a{
    padding: 10px;
   text-decoration: none;
  

}
.Favorite{
  align-items: center;
    margin: 10px auto;
    padding: 10px;
    background-color: #f0f0f000;
}

.favoriteContainer {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.Favorite .favorite-text{
        width: 70%;
        padding: 5rem 1rem 5rem 5rem;
        font-size: large;
}
div.images{
    display: flex;
    justify-content: space-around;
}

div #moreImage {
    display: flex;
    justify-content: space-around;
    display: none;
}
.showservice{
    display: none;
}
#hide{
    list-style: none;
    text-decoration: none;
    display: none;
}
  .services {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 4.8rem 0;
     width: 100%;
      margin: 10px;
     padding-bottom: 0;
      background-color:darkgrey;
      padding-top: 25px;
  }
  #serviceId{
    padding-top: 40px;
  }
   .my-row {
       display: flex;
       gap: 8px;
       align-items: center;
       justify-content: space-between;
       margin: 2rem 0;
   }
   
  .my-row .my-col {
      text-align: center;
      width: 80%;
  }

.my-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-image: linear-gradient(#74D7BB, #53C8B6, #35A99C);
    padding: 1rem;
}
.icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #363D73;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*for CV*/
 
 .container {
    background-color: #00b6c4;
     max-width: 800px;
     margin: 60px auto;
     height: 1250px;
     padding: 20px;
     box-shadow: 0 2px 20px(0 0 0 0.3);
 }

 .header1 {
     text-align: center;
 }

 .header1 h1 {
     margin-bottom: 10px;
 }

 .header1 h3 {
     text-transform: uppercase;
     font-size: 15px;
     font-weight: 500;
 }

 .img-area {
     width: 200px;
     height: 200px;
     border-radius: 50%;
     overflow: hidden;
     margin: 25px auto;
     border: 15px groove deepskyblue;

 }

 .img-area img {
     width: 100%;
 }

 .main {
     display: flex;
     flex-wrap: wrap;
 }

 .left {
      
    display: block;
     flex: 1;
     padding: 30px;
 }

 .left p {
     line-height: 2;
 }

 .left ul li {
     line-height: 2;
     list-style-type: none;
 }

  .left h2 {
     background-color:white;
     padding: 15px;
     color: black;
     margin: 30px 0;
     font-size: 20px;
     border-radius: 0 50px 50px 0;

 }

 .right {
     flex: 1;
     padding: 30px;
 }

 .right h3 {
     margin-bottom: 15px;
 }

 .right p {
     line-height: 2.9;
 }

 .right ul li {
     line-height: 2;
 }

 @media only screen and(min-width:768px)and (max-width:991px) {
     .container {
         width: 95%;
         height: auto;
     }

     h2 {
         font-size: 18px;
     }
 }

 @media screen and (max-width:600px) {
     .main {
         flex-direction: column;
     }

     .left,
     .right {
         flex: none;
         width: 100%;
     }

     .container {
         width: 95%;
         height: auto;
     }

     h2 {
         font-size: 15px;
     }

 }

 div #cvBack {
     text-align: center;
     justify-content: center;
     align-items: center;
     text-decoration: none;

 }

.contact {
            padding: 0 5rem;
            background-color:grey;
       
     }
 #contactId{
        padding-top: 70px;
     }

.contact-content {
    display: flex;
    margin: 3rem 0;
    justify-content: space-between;
}
.contact-form-container {
    width: 50%;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form .form-controls {
    width: 80%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    
}
.contact-form .form-btn {
    width: 83%;
}
.contact-details {
    width: 50%;
}
.footer {
    background-color: #000;
    color: #fff;
    padding: 2rem;
    
}
.footer-container{
    display: flex;
}
.footer-list-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 1rem 1rem 0 1rem;
    border-radius: 50%;
    background-color: #53C8B6;
}
.footer-list-items:hover{
padding: 4px;

}
.fa-facebook-f{
    color: blue;
}
.fa-linkedin-in{
    color: black;
}
.footer-links {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}
.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-menu {
    padding: 0 5rem;
}

.website-heading {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    color: #fff;
    font-size: 35px;
}

.footer-item {
    width: 250px;
    margin: 10px;
    padding: 10px;
}

.footer-heading {
    color: #e65b00;
    font-size: 20px;
    margin: 20px 0;
}

.footer ul li {
    list-style: none;
    font-size: 15px;
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
}

.footer ul li:hover {
    color: #e65b00;
}

.footer-menu .footer-menu-list {
    display: flex;
    list-style: none;
}

.greet-heading {
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0;
    letter-spacing: 1px;
}
.my-heading {
    font-size: 2.5rem;
    margin: 0;
}
.sub-heading {
    margin: 0;
    font-size: 1.8rem;
    font-weight: lighter;
}
.links:hover {
    border-bottom: 2px solid #fff;
    
}
.links {
    border-bottom: 2px solid transparent;
    transition: all 0.25s;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
}
.common-btn {
    background-color: #35A99C;
    color: #fff;
    border: 2px solid #35A99C;
    transition: all 0.25s;
    box-shadow: 5 5 2 rgb(32, 44, 180);
}
.common-btn:hover {
    background-color: green;
    color: #35A99C;
    border: 2px solid #35A99C;
    outline: none;
    padding: 18px;
}

.ghost-btn {
    background-color: greenyellow;
    color: #35A99C;
    border: 2px solid #35A99C;
    outline: none;
    border-radius: 5px;
}

.ghost-btn:hover {
    background-color: #35A99C;
    color: #fff;
    transition: all 0.25s;
    border: 2px solid #35A99C;
    padding: 18px;
   
}
.text-center {
    text-align: center;
}

.small-para {
    
    color: #fff;
}

.white-text {
    color: #5ba937;
}

.blue-text {
    color: #363D73;
}
    
/* Responsive CSS file styles defined for smaller width devices */
/* CSS for tablet devices */
@media screen and (min-width: 576px) and (max-width: 820px) {
 
    .logo {
        padding: 0 3rem;
    }
.side{
    flex-direction: column;
    margin-top: 40px;
    padding-bottom: 1px;
}
    .hamburger {
        display: block;
        padding: 0 3rem;
        position: absolute;
        right: 5%;
        top: 10%;
        background-color: black;
        color: white;
    }

        .fa-caret-down {
            font-size: large;
            margin-left: 3px;
            display: none;
    
        }
         .my-row {
             display: flex;
             align-items: center;
             justify-content: space-between;
             flex-direction: column;
             margin: 2rem 0;
             gap: 1rem;
         }
    
.menu {
    display: none;
}

.menu-list {
    flex-direction: column;
    background-color: gainsboro;
    width: 150px;
    border-radius: 8px;
    position: absolute;
    right: 0;
    top: 75px;

}
#contacts:hover .sub-menu {
    display: none;
}
    .about {
        flex-direction: column;
        margin-top: 10px;
    }

    .about .about-text {
        padding: 2rem;
    }

    .about .about-image img {
        padding: 2rem;
    }

    .services {
        padding: 0;
    }

    .my-row {
        gap: 10px;
    }

    .my-row .my-col {
        text-align: center;
        width: 35%;
    }
    .images ,.moreImage{
       flex-direction: column;
    }

       .footer-item{
        display: block;
       }

}


/* CSS for mobile devices */
@media screen and (min-width: 280px) and (max-width: 576px) {
    .side {
            flex-direction: column;
           margin-top: 40px;
        }
    
    .hero {
        justify-content: center;
        color: #fff;
        background-image: radial-gradient(circle, rgb(15 14 14 / 30%), rgb(102 96 96 / 40%), rgb(163 160 160 / 16%)), url('./Images/heroImg3.avif')
    }
.fa-caret-down {
    font-size: large;
    margin-left: 3px;
    display: none;

}
    .sub-heading {
        
        color: #fff9f9cc;
    }

    .hero .intro-buttons {
        gap: 20px;
    }

    .btn {
        padding: 10px 30px;
    }

    .logo {
        padding: 0 2rem;
    }

    .menu{
        display: none;
    }

     .menu-list {
        flex-direction: column;
        background-color: gainsboro;
        width: 150px;
        border-radius: 8px;
        position: absolute;
        right: 0;
        top: 75px;
        
    }

    .hamburger {
        display: block;
        padding: 0 2rem;
        background-color: #000;
        column-rule-color: #fff;
        position: absolute;
        top: 10%;
        right: 5%;
    }
 #contacts:hover .sub-menu {
     display: none;
 }
    .about {
        flex-direction: column;
    }

    .about .about-text {
        width: 90%;
        padding: 1rem;
    }

    .about .about-image img {
        width: 90%;
        padding: 1rem;
    }

    .services {
        padding: 0;
    }

    .my-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: 2rem 0;
        gap: 1rem;
    }

    .my-row .my-col {
        text-align: center;
        width: 100%;
    }

    .contact {
        padding: 0;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .contact-form-container {
        width: 80%;
    }

    .contact-form .form-controls {
        width: 100%;
    }

    .contact-form .form-btn {
        width: 100%;
    }

    .contact-details {
        width: 80%;
    }

    .footer-menu {
        padding: 0 2rem;
    }

    .footer-list-items {
        display: block;
        margin: 0;
    }

        .images,
        .moreImage {
            flex-direction: column;
        }
}
.menu{
    display: block;
}

